
.main {
    min-width: 935px;
    min-height: 200px;
    background-color: #3E606F;
    padding: 10px;
}

.content {
    background-color: #D1DBBD;
    margin: 10px auto;
    padding: 10px;
    width: 950px;
    //height: 180px;
    display: flex;
    flex-direction: column;
}

.neuralnet_title {
    flex: 9;
    background-color: #3E606F;
    height: 30px;
    text-align: center;
    color: #D1DBBD;
}

.neuralnet_container {
    background-color: #D1DBBD;
    //width: 910px;
    //height: 180px;


    //margin: 10px auto;
    flex: 1;
}

.output_node {
    float: left;
    width: 63px;
    height: 80px;
    margin: 5 5 5 5;
    display: flex;
    flex-direction: column;
}

.weights {
    flex: 15;
    background-color: #D1DBBD;
}

.letterguess {
    flex: 4;
    background-color: #91AA9D;
}

.second_title {
    flex: 9;
    height: 30px;
    //background-color: ;
    display: flex;
    text-align: center;
}

.sub_title_left {
    flex: 15;
    background-color: #91AA9D;
    margin: 5 5;
}

.title {
    border-style: solid;
    border-width: 1px;
    border-color: #3E606F;
}

.sub_title_right {
    flex: 11;
    background-color: #91AA9D;
    margin: 5 5;
}

.secondlevel {
    flex: 1;    
    height: 200px;
    width: 100%;
    background-color: #3E606F;
    flex-direction: row;
    display: flex;
}

.customchar {
    margin: 5 5;
    flex: 2;
    background-color: #D1DBBD;
}
.customchar_buttons {
    margin: 5 5;
    flex: 2;
    background-color: #D1DBBD;
}

.config {
    margin: 5 5;
    flex: 3;
    background-color: #D1DBBD;
}

.testchars_title {
    flex: 9;
    height: 30px;
    background-color: #91AA9D;
    text-align: center;
}

.testchars_container {
    background-color: #D1DBBD;
    flex: 1;
}

.testchars {
}

.char_node {
    float: left;
    width: 63px;
    height: 80px;
    margin: 5 5 5 5;
    display: flex;
    flex-direction: column;
}

.char {
    flex: 15;
    //background-color: #D1DBBD;
}

.charname {
    flex: 4;
    background-color: #FCFFF5;
}

/* .char_node:hover { */
/*                         background-color: black; */
/*                     } */
.char:hover {
                 background-color: #3E606F;
             }

.customc {
    margin: 0 auto;
    width: 190px;
}

.weights div div {
    height: 5px;
    width: 5px;
    //background-color: blue;
    margin: 1px 1px;
    float: left;
}


.customc div div {
    height: 19px;
    width: 19px;
    //background-color: blue;
    margin: 1 1;
    float: left;
}

.char div div {
    height: 5px;
    width: 5px;
    //background-color: blue;
    margin: 1px 1px;
    float: left;
}



